{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/language.css' %}"
/>
{% endblock %}
{% block content %}
<h2>{% if object %}Edit{% else %}Add New{% endif %} Language</h2>
<div class="editlanguage">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="card-urls-center">
    <button type="submit" class="saveButton">Save</button>
    <a href="{% if object %}{% url 'language_detail' object.code %}{% else %}{% url 'language_index' %}{% endif %}" 
       class="cancelbutton">Cancel</a>
    </div>
</form>
</div>
{% endblock %}