{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/confirmation.css' %}"
/>
{% endblock %}
{% block content %}
<h2>Confirm To Delete Word</h2>
<p class="deleteconfirm">Are you sure you want to delete "{{ object.word }}" word?</p>
<form method="post">
    {% csrf_token %}
    <div class="card-urls">
    <button type="submit" class="saveButton">Delete</button>
    <a href="{% url 'language_detail' object.language.code %}" class="cancelbutton">Cancel</a>
</div>
</form>
{% endblock %}