{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/language.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Languages</h1>
  <div class="addlanguage">
  <a href="{% url 'language_create' %}" >
   + Add New Language
  </a>
</div>
</section>

<section class="card-container">
  {% for language in languages %}
  <div class="card">
    <div class="card-content">
      <a href="{% url 'language_detail' language.code %}">{{ language.name }}</a>
      <p>Code: <strong>{{ language.code }}</strong></p>
      <p>
        Spoken in:
        {% for country in language.countries.all %}
          {{ country.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          <em>No countries listed</em>
        {% endfor %}
      </p>
      <div class="card-urls">
      <div class="editbutton">
      <a href="{% url 'language_update' language.code %}">Edit</a>
      </div>
      <div class="deletebutton">
      <a href="{% url 'language_delete' language.code %}">Delete</a>
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
