{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}
{% block content %}
<form method="post">
    <h2 class="card-title text-center mb-4">Sign Up</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100 signupbutton">Sign Up</button>
    <div class="text-center mt-3">
        <h2>Already have an account? <a href="{% url 'login' %}">Login</a></h2>
    </div>
</form>

{% endblock %}