body{
    background-image: url(../css/images/profilebk.png);
    background-size: cover;
    background-attachment: fixed;

}
h2{
    color: #F18562;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}
p{
    color: #509D5C;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}